@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  color: #edf2ef;
  border: none;
}

body,
html {
  position: relative;
}

/* header starts */
header {
  width: 100%;
  min-height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  background-color: transparent;
  transition: 1s;
  box-shadow: 0.1rem 0.1rem rgba(235, 233, 233, 0.048);
}

header.active {
  background-color: #0d0d0d;
  transition: 1s;
}

nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label.logo {
  font-size: 1.8rem;
  font-weight: 600;
  color: #08d665;
  text-transform: uppercase;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 3rem;
}

a {
  text-decoration: none;
}

.menu-item {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}
/* underline hover effect starts */
.menu-item::before,
.card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.22rem;
  width: 100%;
  height: 0.2rem;
  background-color: #08d665;
  border-radius: 4px;
  scale: 0 1;
  transform-origin: left;
  transition: scale 0.35s;
}

.card::before {
  height: 0.8rem;
  border-radius: 0;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

.menu-item:hover::before,
.card:hover::before {
  scale: 1;
}
/* underline hover effect ends */
.check-btn {
  display: none;
}

#check {
  display: none;
}

.hide-message {
  display: none;
}
/* header ends */

/* main - section starts */
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home {
  padding-top: 2rem;
}

#home,
#habilidades,
#contato {
  background: url("../img/background-stars.jpg") no-repeat center center;
  background-size: cover;
  background-color: #0d0d0d;
}

#sobre,
#projetos {
  background-color: #0d0d0d;
}

.container {
  height: 80%;
  width: 80%;
  /* background-color: #0865; */
}

.content {
  height: 85%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.content-hab {
  height: 0%;
}

.content-100 {
  height: 100%;
}

.content-box {
  flex: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-bs {
  align-items: flex-start;
}

.content-start {
  justify-content: flex-start;
}

/* content space-between - sobre */
.content-sa {
  justify-content: space-around;
}

.bg-color {
  background-color: #0d0d0d;
  border: none;
  border-radius: 2rem;
}

.container-title {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-title-hab {
  height: 30%;
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  color: #08d665;
}

.sub-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.2rem 0;
}

.sub-title h4 {
  font-size: 1rem;
  font-weight: 200;
}

.line {
  width: 1.3rem;
  height: 0.25rem;
  background-color: #08d665;
}

.text-box {
  border: 0.2rem solid #08d665;
  width: 13rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box .sub-text {
  font-size: 1rem;
  font-weight: 500;
}

.animated-title {
  margin: 1rem 0;
}

.home-title,
.dinamic {
  font-size: 4rem;
}

.dinamic {
  color: #08d665;
}

p {
  font-size: 1rem;
}

.img {
  width: 100%;
  height: 90%;
}

.gap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btn {
  height: 2.5rem;
  width: 13rem;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #edf2ef;
  color: #0d0d0d;
  font-weight: 550;
  transition: all 0.3s;
  z-index: 0;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: -50px;
  width: 70%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #0d0d0d75, transparent);
  transition: all 1s;
  z-index: -1;
  transform: translateX(-120px) skew(-20deg);
}

.btn:hover::before {
  transform: translateX(300px) skew(-20deg);
}

.btn:hover {
  background: #08d665;
  color: #0d0d0d;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.box-item {
  width: 14em;
  height: 8rem;
  background-color: #edf2ef;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.box-item img {
  width: 45%;
}

.box-item .hab-img1 {
  display: none;
}

.box-item:hover .hab-img {
  display: none;
}

.box-item:hover .hab-img1 {
  display: block;
  transition: 0.5s;
}

/* PROJETO STARTS */
.slide-container {
  /* max-width: 1120px; */
  width: 100%;
  /* background-color: gray; */
}
.swiper {
  height: 85%;
}

.slide-content {
  height: 95%;
  /* margin: 0 0rem; */
  overflow: hidden;
  border-radius: 0.8rem;
}

.card-wrapper {
  transform: translate3d(0px, 0px, 0px);
  display: flex;
  align-items: center;
}

.card {
  height: 25rem !important;
  background: #edf2ef;
  border: none;
  border-radius: 0.8rem;
}

.card:hover {
  cursor: pointer;
}

.card-image {
  position: relative;
  height: 11rem;
  width: 100%;
}

.image-content {
  position: relative;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.card-content {
  margin: 1.2rem;
}

.card-name {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 0.5rem;
}

.description {
  font-size: 0.9rem;
  font-weight: 300;
  color: #222121;
}

.btn-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1.5rem;
}

.btn-link {
  height: 2.5rem;
  width: 2.5rem;
  background-color: #08d665;
  border-radius: 50%;
}

.btn-link i,
.planet i {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: #333333bb;
}

.btn-link i:hover,
.planet i:hover {
  color: #333;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

.swiper-pagination-bullet {
  background: #edf2ef !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  background: #08d665 !important;
}

/* PROJETO ENDS */

/* CONTATO STARTS */
.planets {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sun-light {
  height: 8rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: radial-gradient(20rem, #f3be2b62, transparent 22%);
  transition: all 0.5s;
}

.sun-light:hover {
  height: 20rem;
  width: 20rem;
  background: radial-gradient(15rem, #f3be2b7a, transparent 50%);
  transition: all 1s;
}

.sun {
  height: 6rem;
  width: 6rem;
  z-index: 60;
}

.outline {
  border-radius: 50%;
  border: 1px dotted #ddd9;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkedin-outline {
  height: 10rem;
  width: 10rem;
  z-index: 50;
  transform: rotate(0deg);
}

.figma-outline {
  height: 15rem;
  width: 15rem;
  z-index: 40;
  transform: rotate(90deg);
}

.instagram-outline {
  height: 20rem;
  width: 20rem;
  z-index: 30;
  transform: rotate(180deg);
}

.github-outline {
  height: 25rem;
  width: 25rem;
  z-index: 20;
  transform: rotate(280deg);
}

.planet {
  height: 2.2rem;
  width: 2.2rem;
  background: radial-gradient(circle, #08d665, 60%, #08d66549 75%);
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet i {
  font-size: 1.2rem;
}

.linkedin {
  animation: orbitLinkedin 15s linear infinite;
}

.figma {
  animation: orbitFigma 15s linear infinite;
}

.figma i {
  font-size: 1.2rem;
  transform: rotate(-90deg);
}

.instagram {
  animation: orbitInstagram 15s linear infinite;
}

.instagram i {
  font-size: 1.2rem;
  transform: rotate(-180deg);
}

.github {
  animation: orbitGithub 15s linear infinite;
}

.github i {
  font-size: 1.2rem;
  transform: rotate(-280deg);
}

@keyframes orbitLinkedin {
  from {
    transform: rotate(0deg) translateX(5rem) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(5rem) rotate(-360deg);
  }
}

@keyframes orbitFigma {
  from {
    transform: rotate(0deg) translateX(7.5rem) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(7.5rem) rotate(-360deg);
  }
}

@keyframes orbitInstagram {
  from {
    transform: rotate(0deg) translateX(10rem) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(10rem) rotate(-360deg);
  }
}

@keyframes orbitGithub {
  from {
    transform: rotate(0deg) translateX(12.5rem) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(12.5rem) rotate(-360deg);
  }
}

.planet:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.content-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form h3 {
  font-size: 1.5rem;
}

form h4,
.content-start h4 {
  font-size: 0.9rem;
  font-weight: 400;
}

input,
.input-msg {
  width: 99%;
  border: none;
  border-radius: 0.3rem;
  padding-left: 0.5rem;
  color: #0d0d0d;
}

.input-msg {
  padding-top: 0.5rem;
}

.input-text {
  height: 2rem;
}
/* CONTATO ENDS */

.btn-back {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #08d665;
  position: fixed;
  right: 2rem;
  bottom: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
}

.btn-back i {
  color: #222121;
  font-size: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-back.active-btn {
  opacity: 1;
  transition: all 0.5s;
  pointer-events: all;
}

.btn-back:hover {
  background-color: #08d665;
}

.btn-back i:hover {
  color: #222121;
  animation: moveUpDown 0.8s linear infinite;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

/* main - section home ends */

@media (max-width: 999px) {
  /* header starts */

  header {
    background-color: #0d0d0d;
  }

  nav {
    flex-direction: row-reverse;
  }

  .nav-list {
    position: absolute;
    width: 50%;
    min-height: 90vh;
    background-color: #0d0d0d;
    top: 4rem;
    right: -100%;
    flex-direction: column;
    gap: 5rem;
    padding-top: 2rem;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li a.active,
  a:hover {
    background: rgb(38, 50, 56);
  }

  .hide-message {
    color: #edf2efb7;
    font-size: 0.7rem;
    text-align: center;
    display: block;
  }

  .hide-message i {
    color: #edf2efb7;
  }

  .check-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #08d665;
  }

  .hamburger {
    border-top: 0.2rem solid;
    width: 2rem;
    color: #08d665;
  }

  .hamburger::before,
  .hamburger::after {
    content: " ";
    display: block;
    border-top: 0.2rem solid;
    width: 2rem;
    background: currentColor;
    margin-top: 0.4rem;
    position: relative;
    transition: 0.3s;
  }

  #check:checked ~ .nav-list {
    right: 0;
  }

  #check:checked ~ .check-btn .hamburger {
    border-top-color: transparent;
  }

  #check:checked ~ .check-btn .hamburger::before {
    transform: rotate(135deg);
  }

  #check:checked ~ .check-btn .hamburger::after {
    transform: rotate(-135deg);
    top: -0.6rem;
  }
  /* header ends */

  .container {
    height: 85%;
  }

  .container-title {
    height: 10%;
  }

  .container-title-hab {
    height: 15%;
  }

  .content {
    flex-direction: column;
    height: 90%;
  }

  .content-box {
    align-items: center;
    height: 50%;
  }

  .flex-reverse {
    flex-direction: column-reverse;
  }

  .flex-row {
    flex-direction: row;
  }

  .home-title,
  .dinamic {
    font-size: 2.3rem;
  }

  #sobre .img-content {
    height: 40%;
  }

  #sobre .content-sa {
    height: 60%;
  }

  .name {
    font-size: 1.7rem;
  }

  .hide {
    display: none;
  }

  .box {
    gap: 1rem;
  }

  .box-item {
    width: 8em;
    height: 7.5rem;
  }

  .card {
    height: 28rem !important;
  }

  .card-image {
    height: 13rem;
  }

  .margin {
    margin-top: 1rem;
  }

  #contato {
    height: 100vh;
  }

  .title-contato {
    font-size: 1.9rem;
  }

  .content-start h4 {
    margin-top: 2rem;
  }

  /* planetario */

  .sun-light {
    height: 6rem;
    width: 6rem;
    background: radial-gradient(18rem, #f3be2b62, transparent 25%);
  }

  .sun-light:hover {
    height: 12rem;
    width: 12rem;
  }

  .sun {
    height: 5rem;
    width: 5rem;
  }

  .linkedin-outline {
    height: 8rem;
    width: 8rem;
  }

  .figma-outline {
    height: 13rem;
    width: 13rem;
  }

  .instagram-outline {
    height: 17rem;
    width: 17rem;
  }

  .github-outline {
    height: 21.5rem;
    width: 21.5rem;
    transform: rotate(0deg);
  }

  .github i {
    transform: rotate(0deg);
  }

  @keyframes orbitLinkedin {
    from {
      transform: rotate(0deg) translateX(4rem) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(4rem) rotate(-360deg);
    }
  }

  @keyframes orbitFigma {
    from {
      transform: rotate(0deg) translateX(6.5rem) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(6.5rem) rotate(-360deg);
    }
  }

  @keyframes orbitInstagram {
    from {
      transform: rotate(0deg) translateX(8.5rem) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(8.5rem) rotate(-360deg);
    }
  }

  @keyframes orbitGithub {
    from {
      transform: rotate(0deg) translateX(10.6rem) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(10.6rem) rotate(-360deg);
    }
  }
}
