// black-color palette
$black-normal: #131212;
$black-light: #171616;
$black-dark: #010101;

// details color 
$green-normal: #08D665;
$gray-normal: #464343;
$gray-light: #A49E9E;
$transparent-border: #a49e9e35;

//white-color 
$white-normal: #D9D9D9;

//planets colors
$red-normal: #d83b5a;
$red-shadow: #fd5759;
$blue-normal: #63d7e7;
$blue-shadow: #7cfae5;
$orange-normal: #FE9150;
$orange-shadow: #ffb95d;